<!DOCTYPE html>
<html>
  <head>
    <title>Oqcomer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>Oqcomer</h1>
      <p>API onde retorna uma lista de opções de refeição ou sorteia uma comida </p>
      <ul>
        <ul>
          <p>Contem 3 opções de periodo</p>
          <li>http://localhost:3000/menu/cafe</li>
          <li>http://localhost:3000/menu/almoco</li>
          <li>http://localhost:3000/menu/janta</li>
        </ul>
        <p>Comida sorteada</p>
        <li>http://localhost:3000/sorteio</li>
      </ul>
  </body>
</html>
